.header {
    grid-area: header;
    background: #252b31;
    /*background: #26a69a;*/
    border-radius: 10px;
}

.header img {
    width: 40px;
    padding: 10px 20px;
}

.loginBlock {
    float: right;
    margin: 20px 30px;
    color: #eeeeee;
}

.loginBlock a {
    color: #eeeeee;
    text-decoration: none;
}