.nav {
    grid-area: nav;
    background: #252b31;
    margin: 0;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    list-style-type: none;
}

.item a {
    color: #eee;
    text-decoration: none;
}

.item a.active {
    color: #6e93d6;
}

.settings {
    padding-top: 20px;
}